{% extends('base.html') %}
{% block content%}
	<div class="panel panel-default">
		<div class="panel-heading">
			Articles:
		</div>
		<div class="panel-body">
			<ul class="list-group">
				{% for file in files %}
					<li class="list-group-item">
						<a href={{ url_for('file',file_id=file.id) }} >{{file.title}}</a>
						<div class="pull-right">
							{% for tag in file.tags %} 
								<span class="label label-primary">{{tag.name}}</span> 
							{% endfor %}
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}